# Version control
.git
.gitignore
.github

# Node dependencies and build artifacts
**/node_modules
**/dist
**/build
**/*.tsbuildinfo

# Logs & temp files
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Secrets and local configurations
**/.env
**/.env.*
!**/.env.example

# IDE configurations
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Test coverage
**/coverage
**/.nyc_output

# Local DB & uploads
**/*.db
**/*.db-journal
**/uploads/*
!**/uploads/.gitkeep
