DATABASE_URL="postgresql://postgres:YOUR_POSTGRES_PASSWORD_HERE@localhost:5432/temar_lije?schema=public"
APP_DATABASE_URL="postgresql://temar_lije_app:YOUR_APP_PASSWORD_HERE@localhost:5432/temar_lije?schema=public"
